<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.ZcCashOutRecordMapper">

    <resultMap type="com.zc.bean.ZcCashOutRecord" id="ZcCashOutRecordMap">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="cashOutAmount" column="cash_out_amount"/>
        <result property="createTime" column="create_time"/>
        <result property="alipayAccount" column="alipay_account"/>
        <result property="alipayName" column="alipay_name"/>
        <result property="type" column="type"/>
        <result property="remarkStatus" column="remark_status"/>
    </resultMap>
    <sql id="allResult">
        <trim suffixOverrides=",">
            `id`,
            `code`,
            `cash_out_amount`,
            `create_time`,
            `alipay_account`,
            `alipay_name`,
            `type`,
            `remark_status`,
        </trim>
    </sql>


    <insert id="insertZcCashOutRecord"  useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `zc_cash_out_record`
        (
        <trim suffixOverrides=",">
            <if test="id!=null">
                `id`,
            </if>
            <if test="code!=null">
                `code`,
            </if>
            <if test="cashOutAmount!=null">
                `cash_out_amount`,
            </if>
            <if test="createTime!=null">
                `create_time`,
            </if>
            <if test="alipayAccount!=null">
                `alipay_account`,
            </if>
            <if test="alipayName!=null">
                `alipay_name`,
            </if>
            <if test="type!=null">
                `type`,
            </if>
            <if test="remarkStatus!=null">
                `remark_status`,
            </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="code!=null">
                #{code},
            </if>
            <if test="cashOutAmount!=null">
                #{cashOutAmount},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="alipayAccount!=null">
                #{alipayAccount},
            </if>
            <if test="alipayName!=null">
                #{alipayName},
            </if>
            <if test="type!=null">
                #{type},
            </if>
            <if test="remarkStatus!=null">
                #{remarkStatus},
            </if>
        </trim>
        )
    </insert>




    <update id="updateZcCashOutRecord">
        UPDATE `zc_cash_out_record`
        SET
        <trim suffixOverrides=",">
            <if test="code != null and code!=''">
                `code` = #{code},
            </if>
            <if test="cashOutAmount != null">
                `cash_out_amount` = #{cashOutAmount},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="alipayAccount != null and alipayAccount!=''">
                `alipay_account` = #{alipayAccount},
            </if>
            <if test="alipayName != null and alipayName!=''">
                `alipay_name` = #{alipayName},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
            <if test="remarkStatus != null and remarkStatus!=''">
                `remark_status` = #{remarkStatus},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
            `id` = #{id} and
        </trim>
    </update>



    <select id="queryZcCashOutRecord" resultMap="ZcCashOutRecordMap">
        select
        <include refid="allResult"></include>
        from  `zc_cash_out_record`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="code != null and code!=''">
                `code` = #{code} and
            </if>
            <if test="cashOutAmount != null">
                `cash_out_amount` = #{cashOutAmount} and
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime} and
            </if>
            <if test="alipayAccount != null and alipayAccount!=''">
                `alipay_account` = #{alipayAccount} and
            </if>
            <if test="alipayName != null and alipayName!=''">
                `alipay_name` = #{alipayName} and
            </if>
            <if test="type != null">
                `type` = #{type} and
            </if>
            <if test="remarkStatus != null and remarkStatus!=''">
                `remark_status` = #{remarkStatus} and
            </if>
        </trim>
    </select>

</mapper>