<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.ZcCardManageMapper">
    <resultMap type="com.zc.bean.ZcCardManage" id="ZcCardManageMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="allowance" column="allowance"/>
        <result property="type" column="type"/>
        <result property="code" column="code"/>
        <result property="iccid" column="iccid"/>
        <result property="belongUser" column="belong_user"/>
        <result property="status" column="status"/>
        <result property="apiName" column="api_name"/>
        <result property="apiId" column="api_id"/>
        <result property="area" column="area"/>
    </resultMap>
    <sql id="allResult">
        <trim suffixOverrides=",">
            `id`,
            `user_id`,
            `allowance`,
            `type`,
            `code`,
            `iccid`,
            `belong_user`,
            `status`,
            `api_name`,
            `api_id`,
            `area`,
        </trim>
    </sql>


    <insert id="insertZcCardManage" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `zc_card_manage`
        (
        <trim suffixOverrides=",">
            <if test="id!=null">
                `id`,
            </if>
            <if test="userId!=null">
                `user_id`,
            </if>
            <if test="allowance!=null">
                `allowance`,
            </if>
            <if test="type!=null">
                `type`,
            </if>
            <if test="code!=null">
                `code`,
            </if>
            <if test="iccid!=null">
                `iccid`,
            </if>
            <if test="belongUser!=null">
                `belong_user`,
            </if>
            <if test="status!=null">
                `status`,
            </if>
            <if test="apiName!=null">
                `api_name`,
            </if>
            <if test="apiId!=null">
                `api_id`,
            </if>
            <if test="area!=null">
                `area`,
            </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="allowance!=null">
                #{allowance},
            </if>
            <if test="type!=null">
                #{type},
            </if>
            <if test="code!=null">
                #{code},
            </if>
            <if test="iccid!=null">
                #{iccid},
            </if>
            <if test="belongUser!=null">
                #{belongUser},
            </if>
            <if test="status!=null">
                #{status},
            </if>
            <if test="apiName!=null">
                #{apiName},
            </if>
            <if test="apiId!=null">
                #{apiId},
            </if>
            <if test="area!=null">
                #{area},
            </if>
        </trim>
        )
    </insert>


    <update id="updateZcCardManage">
        UPDATE `zc_card_manage`
        SET
        <trim suffixOverrides=",">
            <if test="userId != null and userId!=''">
                `user_id` = #{userId},
            </if>
            <if test="allowance != null and allowance!=''">
                `allowance` = #{allowance},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
            <if test="code != null and code!=''">
                `code` = #{code},
            </if>
            <if test="iccid != null and iccid!=''">
                `iccid` = #{iccid},
            </if>
            <if test="belongUser != null and belongUser!=''">
                `belong_user` = #{belongUser},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="apiName != null and apiName!=''">
                `api_name` = #{apiName},
            </if>
            <if test="apiId != null">
                `api_id` = #{apiId},
            </if>
            <if test="area != null and area!=''">
                `area` = #{area},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
            `id` = #{id} and
        </trim>
    </update>


    <select id="queryZcCardManage" resultMap="ZcCardManageMap">
        select
        <include refid="allResult"></include>
        from `zc_card_manage`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="userId != null and userId!=''">
                `user_id` = #{userId} and
            </if>
            <if test="allowance != null and allowance!=''">
                `allowance` = #{allowance} and
            </if>
            <if test="lessAllowance != null and lessAllowance!=''">
                `allowance` &lt;= #{lessAllowance} and
            </if>
            <if test="type != null">
                `type` = #{type} and
            </if>
            <if test="code != null and code!=''">
                `code` = #{code} and
            </if>
            <if test="iccid != null and iccid!=''">
                `iccid` = #{iccid} and
            </if>
            <if test="beginIccid != null and beginIccid!=''">
                `iccid` &gt;= #{beginIccid} and
            </if>
            <if test="endIccid != null and endIccid!=''">
                `iccid` &lt;= #{endIccid} and
            </if>
            <if test="belongUser != null and belongUser!=''">
                `belong_user` = #{belongUser} and
            </if>
            <if test="status != null">
                `status` = #{status} and
            </if>
            <if test="apiName != null and apiName!=''">
                `api_name` = #{apiName} and
            </if>
            <if test="apiId != null">
                `api_id` = #{apiId} and
            </if>
            <if test="area != null and area!=''">
                `area` = #{area} and
            </if>
        </trim>
    </select>
    <select id="queryByIccid" resultMap="ZcCardManageMap">
    select
    <include refid="allResult"></include>
    from `zc_card_manage`
    where `iccid` = #{iccid}
    limit 0,1
    </select>
</mapper>