<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.ZcSetMealMapper">
    <resultMap type="com.zc.bean.ZcSetMeal" id="ZcSetMealMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="apiId" column="user_id"/>
        <result property="periodTime" column="period_time"/>
        <result property="costPrice" column="cost_price"/>
        <result property="agentCostPrice" column="agent_cost_price"/>
        <result property="terminalPrice" column="terminal_price"/>
        <result property="setMealName" column="set_meal_name"/>
        <result property="apiName" column="apiName"/>
        <result property="type" column="type"/>

    </resultMap>

    <sql id="allResult">
        <trim suffixOverrides=",">
            `id`,
            `user_id`,
            `api_id`,
            `period_time`,
            `cost_price`,
            `agent_cost_price`,
            `terminal_price`,
            `set_meal_name`,
        </trim>
    </sql>


    <insert id="insertZcSetMeal" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `zc_set_meal`
        (
        <trim suffixOverrides=",">
            <if test="id!=null">
                `id`,
            </if>
            <if test="userId!=null">
                `user_id`,
            </if>
            <if test="apiId!=null">
                `api_id`,
            </if>
            <if test="periodTime!=null">
                `period_time`,
            </if>
            <if test="costPrice!=null">
                `cost_price`,
            </if>
            <if test="agentCostPrice!=null">
                `agent_cost_price`,
            </if>
            <if test="terminalPrice!=null">
                `terminal_price`,
            </if>
            <if test="setMealName!=null">
                `set_meal_name`,
            </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="apiId!=null">
                #{apiId},
            </if>
            <if test="periodTime!=null">
                #{periodTime},
            </if>
            <if test="costPrice!=null">
                #{costPrice},
            </if>
            <if test="agentCostPrice!=null">
                #{agentCostPrice},
            </if>
            <if test="terminalPrice!=null">
                #{terminalPrice},
            </if>
            <if test="setMealName!=null">
                #{setMealName},
            </if>
        </trim>
        )
    </insert>


    <update id="updateZcSetMeal">
        UPDATE `zc_set_meal`
        SET
        <trim suffixOverrides=",">
            <if test="userId != null and userId!=''">
                `user_id` = #{userId},
            </if>
            <if test="apiId != null and apiId!=''">
                `api_id` = #{apiid},
            </if>
            <if test="periodTime != null">
                `period_time` = #{periodTime},
            </if>
            <if test="costPrice != null">
                `cost_price` = #{costPrice},
            </if>
            <if test="agentCostPrice != null">
                `agent_cost_price` = #{agentCostPrice},
            </if>
            <if test="terminalPrice != null">
                `terminal_price` = #{terminalPrice},
            </if>
            <if test="setMealName != null">
                `set_meal_name` = #{setMealName},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
            `id` = #{id} and
        </trim>
    </update>
    <select id="queryById" resultMap="ZcSetMealMap">
        select
        <include refid="allResult"></include>
        from
        `zc_set_meal`
        where id=#{id}
    </select>

    <select id="queryZcSetMeal" resultMap="ZcSetMealMap">
        select
        s.id,
        s.user_id,
        s.api_id,
        s.period_time,
        s.cost_price,
        s.agent_cost_price,
        s.terminal_price,
        s.set_meal_name,
        a.api_name as apiName,
        a.type
        from zc_set_meal s
        left join zc_api a on a.id=s.api_id
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                s.id = #{id} and
            </if>
            <if test="userId != null and userId!=''">
                s.user_id = #{userId} and
            </if>
            <if test="apiId != null and apiId!=''">
                s.api_id = #{apiId} and
            </if>
            <if test="periodTime != null">
                s.period_time = #{periodTime} and
            </if>
            <if test="costPrice != null">
                s.cost_price = #{costPrice} and
            </if>
            <if test="agentCostPrice != null">
                s.agent_cost_price = #{agentCostPrice} and
            </if>
            <if test="terminalPrice != null">
                s.terminal_price = #{terminalPrice} and
            </if>
            <if test="setMealName != null">
                s.set_meal_name = #{setMealName} and
            </if>
            <if test="type != null">
                a.type = #{type} and
            </if>
        </trim>
    </select>

</mapper>