<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.ZcUserMapper">
    <resultMap type="com.zc.bean.ZcUser" id="ZcUserMap">
        <result property="id" column="id"/>
        <result property="loginAccount" column="login_account"/>
        <result property="password" column="password"/>
        <result property="userName" column="user_name"/>
        <result property="phoneNum" column="phone_num"/>
        <result property="mailAddress" column="mail_address"/>
        <result property="show" column="show"/>
        <result property="parentId" column="parent_id"/>
    </resultMap>
    <sql id="baseResult">
            <trim suffixOverrides=",">
                `id`,
                `login_account`,
                `password`,
                `user_name`,
                `phone_num`,
                `mail_address`,
                `show`,
                `parent_id`,
            </trim>
    </sql>
    <select id="queryById" resultMap="ZcUserMap">
        select
        <include refid="baseResult"></include>
        from `zc_user`
        where id=#{id}
    </select>

</mapper>