<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>lrnpro</title>
    <link href=./css/app.10cd5835e9676997f2f5cb40c4cad22d.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=../static/static/js/manifest.3ad1d5771e9b13dbdad2.js></script>
<script type=text/javascript src=../static/static/js/vendor.62a47fe6d6f2a1e9b062.js></script>
<script type=text/javascript src=../static/static/js/app.759351c840efcc15837f.js></script>
</body>
</html>