<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.base.ZcCashOutRecordBaseMapper">


    <insert id="insertZcCashOutRecord"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `zc_cash_out_record`
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="code!=null">
                        `code`,
                    </if>
                    <if test="cashOutAmount!=null">
                        `cash_out_amount`,
                    </if>
                    <if test="createTime!=null">
                        `create_time`,
                    </if>
                    <if test="alipayAccount!=null">
                        `alipay_account`,
                    </if>
                    <if test="alipayName!=null">
                        `alipay_name`,
                    </if>
                    <if test="type!=null">
                        `type`,
                    </if>
                    <if test="remarkStatus!=null">
                        `remark_status`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="code!=null">
                    #{code},
                </if>
                <if test="cashOutAmount!=null">
                    #{cashOutAmount},
                </if>
                <if test="createTime!=null">
                    #{createTime},
                </if>
                <if test="alipayAccount!=null">
                    #{alipayAccount},
                </if>
                <if test="alipayName!=null">
                    #{alipayName},
                </if>
                <if test="type!=null">
                    #{type},
                </if>
                <if test="remarkStatus!=null">
                    #{remarkStatus},
                </if>
        </trim>
        )
    </insert>




    <update id="updateZcCashOutRecord">
        UPDATE `zc_cash_out_record`
        SET
        <trim suffixOverrides=",">
            <if test="code != null and code!=''">
                `code` = #{code},
            </if>
            <if test="cashOutAmount != null">
                `cash_out_amount` = #{cashOutAmount},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="alipayAccount != null and alipayAccount!=''">
                `alipay_account` = #{alipayAccount},
            </if>
            <if test="alipayName != null and alipayName!=''">
                `alipay_name` = #{alipayName},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
            <if test="remarkStatus != null and remarkStatus!=''">
                `remark_status` = #{remarkStatus},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `zc_cash_out_record`
        SET
        <trim suffixOverrides=",">
        <if test="set.code != null and set.code!=''">
            `code` = #{set.code},
        </if>
        <if test="set.cashOutAmount != null">
            `cash_out_amount` = #{set.cashOutAmount},
        </if>
        <if test="set.createTime != null">
            `create_time` = #{set.createTime},
        </if>
        <if test="set.alipayAccount != null and set.alipayAccount!=''">
            `alipay_account` = #{set.alipayAccount},
        </if>
        <if test="set.alipayName != null and set.alipayName!=''">
            `alipay_name` = #{set.alipayName},
        </if>
        <if test="set.type != null">
            `type` = #{set.type},
        </if>
        <if test="set.remarkStatus != null and set.remarkStatus!=''">
            `remark_status` = #{set.remarkStatus},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.idList != null">
                    `id` in
                    <foreach collection="where.idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.idSt !=null">
                `id` >= #{where.idSt} and
            </if>
            <if test="where.idEd!=null">
                `id` &lt;= #{where.idEd} and
            </if>
                <if test="where.codeList != null">
                    `code` in
                    <foreach collection="where.codeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyCode!=null and where.fuzzyCode.size()>0">
                (
                <foreach collection="where.fuzzyCode"  separator="or" item="item">
                    `Code` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyCode!=null and where.rightFuzzyCode.size()>0">
                (
                <foreach collection="where.rightFuzzyCode"  separator="or" item="item">
                    `Code` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.cashOutAmountList != null">
                    `cash_out_amount` in
                    <foreach collection="where.cashOutAmountList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.cashOutAmountSt !=null">
                `cash_out_amount` >= #{where.cashOutAmountSt} and
            </if>
            <if test="where.cashOutAmountEd!=null">
                `cash_out_amount` &lt;= #{where.cashOutAmountEd} and
            </if>
                <if test="where.createTimeList != null">
                    `create_time` in
                    <foreach collection="where.createTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.createTimeSt !=null">
                `create_time` >= #{where.createTimeSt} and
            </if>
            <if test="where.createTimeEd!=null">
                `create_time` &lt;= #{where.createTimeEd} and
            </if>
                <if test="where.alipayAccountList != null">
                    `alipay_account` in
                    <foreach collection="where.alipayAccountList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyAlipayAccount!=null and where.fuzzyAlipayAccount.size()>0">
                (
                <foreach collection="where.fuzzyAlipayAccount"  separator="or" item="item">
                    `Alipay_account` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyAlipayAccount!=null and where.rightFuzzyAlipayAccount.size()>0">
                (
                <foreach collection="where.rightFuzzyAlipayAccount"  separator="or" item="item">
                    `Alipay_account` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.alipayNameList != null">
                    `alipay_name` in
                    <foreach collection="where.alipayNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyAlipayName!=null and where.fuzzyAlipayName.size()>0">
                (
                <foreach collection="where.fuzzyAlipayName"  separator="or" item="item">
                    `Alipay_name` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyAlipayName!=null and where.rightFuzzyAlipayName.size()>0">
                (
                <foreach collection="where.rightFuzzyAlipayName"  separator="or" item="item">
                    `Alipay_name` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.typeList != null">
                    `type` in
                    <foreach collection="where.typeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.typeSt !=null">
                `type` >= #{where.typeSt} and
            </if>
            <if test="where.typeEd!=null">
                `type` &lt;= #{where.typeEd} and
            </if>
                <if test="where.remarkStatusList != null">
                    `remark_status` in
                    <foreach collection="where.remarkStatusList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyRemarkStatus!=null and where.fuzzyRemarkStatus.size()>0">
                (
                <foreach collection="where.fuzzyRemarkStatus"  separator="or" item="item">
                    `Remark_status` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyRemarkStatus!=null and where.rightFuzzyRemarkStatus.size()>0">
                (
                <foreach collection="where.rightFuzzyRemarkStatus"  separator="or" item="item">
                    `Remark_status` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="com.zc.bean.ZcCashOutRecord" id="ZcCashOutRecordMap">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="cashOutAmount" column="cash_out_amount"/>
        <result property="createTime" column="create_time"/>
        <result property="alipayAccount" column="alipay_account"/>
        <result property="alipayName" column="alipay_name"/>
        <result property="type" column="type"/>
        <result property="remarkStatus" column="remark_status"/>
    </resultMap>


    <select id="queryZcCashOutRecord" resultMap="ZcCashOutRecordMap">
        select
        <include refid="baseResult"></include>
        from  `zc_cash_out_record`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="code != null and code!=''">
                `code` = #{code} and
            </if>
            <if test="cashOutAmount != null">
                `cash_out_amount` = #{cashOutAmount} and
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime} and
            </if>
            <if test="alipayAccount != null and alipayAccount!=''">
                `alipay_account` = #{alipayAccount} and
            </if>
            <if test="alipayName != null and alipayName!=''">
                `alipay_name` = #{alipayName} and
            </if>
            <if test="type != null">
                `type` = #{type} and
            </if>
            <if test="remarkStatus != null and remarkStatus!=''">
                `remark_status` = #{remarkStatus} and
            </if>
            <if test = "(_parameter instanceof .ZcCashOutRecord$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="codeList != null">
                    `code` in
                    <foreach collection="codeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyCode!=null and fuzzyCode.size()>0">
                    (
                    <foreach collection="fuzzyCode"  separator="or" item="item">
                        `Code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyCode!=null and rightFuzzyCode.size()>0">
                    (
                    <foreach collection="rightFuzzyCode"  separator="or" item="item">
                        `Code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="cashOutAmountList != null">
                    `cash_out_amount` in
                    <foreach collection="cashOutAmountList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="cashOutAmountSt !=null">
                    `cash_out_amount` >= #{cashOutAmountSt} and
                </if>
                <if test="cashOutAmountEd!=null">
                    `cash_out_amount` &lt;= #{cashOutAmountEd} and
                </if>
                <if test="createTimeList != null">
                    `create_time` in
                    <foreach collection="createTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="createTimeSt !=null">
                    `create_time` >= #{createTimeSt} and
                </if>
                <if test="createTimeEd!=null">
                    `create_time` &lt;= #{createTimeEd} and
                </if>
                <if test="alipayAccountList != null">
                    `alipay_account` in
                    <foreach collection="alipayAccountList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyAlipayAccount!=null and fuzzyAlipayAccount.size()>0">
                    (
                    <foreach collection="fuzzyAlipayAccount"  separator="or" item="item">
                        `Alipay_account` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAlipayAccount!=null and rightFuzzyAlipayAccount.size()>0">
                    (
                    <foreach collection="rightFuzzyAlipayAccount"  separator="or" item="item">
                        `Alipay_account` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="alipayNameList != null">
                    `alipay_name` in
                    <foreach collection="alipayNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyAlipayName!=null and fuzzyAlipayName.size()>0">
                    (
                    <foreach collection="fuzzyAlipayName"  separator="or" item="item">
                        `Alipay_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAlipayName!=null and rightFuzzyAlipayName.size()>0">
                    (
                    <foreach collection="rightFuzzyAlipayName"  separator="or" item="item">
                        `Alipay_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="typeList != null">
                    `type` in
                    <foreach collection="typeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="typeSt !=null">
                    `type` >= #{typeSt} and
                </if>
                <if test="typeEd!=null">
                    `type` &lt;= #{typeEd} and
                </if>
                <if test="remarkStatusList != null">
                    `remark_status` in
                    <foreach collection="remarkStatusList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyRemarkStatus!=null and fuzzyRemarkStatus.size()>0">
                    (
                    <foreach collection="fuzzyRemarkStatus"  separator="or" item="item">
                        `Remark_status` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyRemarkStatus!=null and rightFuzzyRemarkStatus.size()>0">
                    (
                    <foreach collection="rightFuzzyRemarkStatus"  separator="or" item="item">
                        `Remark_status` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryZcCashOutRecordLimit1" resultMap="ZcCashOutRecordMap">
        select
        <include refid="baseResult"></include>
        from  `zc_cash_out_record`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="code != null and code!=''">
                `code` = #{code} and
            </if>
            <if test="cashOutAmount != null">
                `cash_out_amount` = #{cashOutAmount} and
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime} and
            </if>
            <if test="alipayAccount != null and alipayAccount!=''">
                `alipay_account` = #{alipayAccount} and
            </if>
            <if test="alipayName != null and alipayName!=''">
                `alipay_name` = #{alipayName} and
            </if>
            <if test="type != null">
                `type` = #{type} and
            </if>
            <if test="remarkStatus != null and remarkStatus!=''">
                `remark_status` = #{remarkStatus} and
            </if>
            <if test = "(_parameter instanceof .ZcCashOutRecord$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="codeList != null">
                        `code` in
                        <foreach collection="codeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyCode!=null and fuzzyCode.size()>0">
                    (
                    <foreach collection="fuzzyCode"  separator="or" item="item">
                        `Code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyCode!=null and rightFuzzyCode.size()>0">
                    (
                    <foreach collection="rightFuzzyCode"  separator="or" item="item">
                        `Code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="cashOutAmountList != null">
                        `cash_out_amount` in
                        <foreach collection="cashOutAmountList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="cashOutAmountSt !=null">
                    `cash_out_amount` >= #{cashOutAmountSt} and
                </if>
                <if test="cashOutAmountEd!=null">
                    `cash_out_amount` &lt;= #{cashOutAmountEd} and
                </if>
                    <if test="createTimeList != null">
                        `create_time` in
                        <foreach collection="createTimeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="createTimeSt !=null">
                    `create_time` >= #{createTimeSt} and
                </if>
                <if test="createTimeEd!=null">
                    `create_time` &lt;= #{createTimeEd} and
                </if>
                    <if test="alipayAccountList != null">
                        `alipay_account` in
                        <foreach collection="alipayAccountList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyAlipayAccount!=null and fuzzyAlipayAccount.size()>0">
                    (
                    <foreach collection="fuzzyAlipayAccount"  separator="or" item="item">
                        `Alipay_account` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAlipayAccount!=null and rightFuzzyAlipayAccount.size()>0">
                    (
                    <foreach collection="rightFuzzyAlipayAccount"  separator="or" item="item">
                        `Alipay_account` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="alipayNameList != null">
                        `alipay_name` in
                        <foreach collection="alipayNameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyAlipayName!=null and fuzzyAlipayName.size()>0">
                    (
                    <foreach collection="fuzzyAlipayName"  separator="or" item="item">
                        `Alipay_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAlipayName!=null and rightFuzzyAlipayName.size()>0">
                    (
                    <foreach collection="rightFuzzyAlipayName"  separator="or" item="item">
                        `Alipay_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="typeList != null">
                        `type` in
                        <foreach collection="typeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="typeSt !=null">
                    `type` >= #{typeSt} and
                </if>
                <if test="typeEd!=null">
                    `type` &lt;= #{typeEd} and
                </if>
                    <if test="remarkStatusList != null">
                        `remark_status` in
                        <foreach collection="remarkStatusList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyRemarkStatus!=null and fuzzyRemarkStatus.size()>0">
                    (
                    <foreach collection="fuzzyRemarkStatus"  separator="or" item="item">
                        `Remark_status` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyRemarkStatus!=null and rightFuzzyRemarkStatus.size()>0">
                    (
                    <foreach collection="rightFuzzyRemarkStatus"  separator="or" item="item">
                        `Remark_status` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `code`,
        `cash_out_amount`,
        `create_time`,
        `alipay_account`,
        `alipay_name`,
        `type`,
        `remark_status`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof .ZcCashOutRecord$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.code==true">
                        `code`,
                    </if>
                    <if test="fetchFields.fetchFields.cashOutAmount==true">
                        `cash_out_amount`,
                    </if>
                    <if test="fetchFields.fetchFields.createTime==true">
                        `create_time`,
                    </if>
                    <if test="fetchFields.fetchFields.alipayAccount==true">
                        `alipay_account`,
                    </if>
                    <if test="fetchFields.fetchFields.alipayName==true">
                        `alipay_name`,
                    </if>
                    <if test="fetchFields.fetchFields.type==true">
                        `type`,
                    </if>
                    <if test="fetchFields.fetchFields.remarkStatus==true">
                        `remark_status`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.code==null">
                        `code`,
                    </if>
                    <if test="fetchFields.excludeFields.cashOutAmount==null">
                        `cash_out_amount`,
                    </if>
                    <if test="fetchFields.excludeFields.createTime==null">
                        `create_time`,
                    </if>
                    <if test="fetchFields.excludeFields.alipayAccount==null">
                        `alipay_account`,
                    </if>
                    <if test="fetchFields.excludeFields.alipayName==null">
                        `alipay_name`,
                    </if>
                    <if test="fetchFields.excludeFields.type==null">
                        `type`,
                    </if>
                    <if test="fetchFields.excludeFields.remarkStatus==null">
                        `remark_status`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof .ZcCashOutRecord$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>