<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.base.ZcCommissionRecordBaseMapper">


    <insert id="insertZcCommissionRecord"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `zc_commission_record`
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="code!=null">
                        `code`,
                    </if>
                    <if test="createTime!=null">
                        `create_time`,
                    </if>
                    <if test="changeType!=null">
                        `change_type`,
                    </if>
                    <if test="changeAmount!=null">
                        `change_amount`,
                    </if>
                    <if test="changeAfterAmount!=null">
                        `change_after_amount`,
                    </if>
                    <if test="remark!=null">
                        `remark`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="code!=null">
                    #{code},
                </if>
                <if test="createTime!=null">
                    #{createTime},
                </if>
                <if test="changeType!=null">
                    #{changeType},
                </if>
                <if test="changeAmount!=null">
                    #{changeAmount},
                </if>
                <if test="changeAfterAmount!=null">
                    #{changeAfterAmount},
                </if>
                <if test="remark!=null">
                    #{remark},
                </if>
        </trim>
        )
    </insert>




    <update id="updateZcCommissionRecord">
        UPDATE `zc_commission_record`
        SET
        <trim suffixOverrides=",">
            <if test="code != null and code!=''">
                `code` = #{code},
            </if>
            <if test="createTime != null and createTime!=''">
                `create_time` = #{createTime},
            </if>
            <if test="changeType != null">
                `change_type` = #{changeType},
            </if>
            <if test="changeAmount != null">
                `change_amount` = #{changeAmount},
            </if>
            <if test="changeAfterAmount != null">
                `change_after_amount` = #{changeAfterAmount},
            </if>
            <if test="remark != null and remark!=''">
                `remark` = #{remark},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `zc_commission_record`
        SET
        <trim suffixOverrides=",">
        <if test="set.code != null and set.code!=''">
            `code` = #{set.code},
        </if>
        <if test="set.createTime != null and set.createTime!=''">
            `create_time` = #{set.createTime},
        </if>
        <if test="set.changeType != null">
            `change_type` = #{set.changeType},
        </if>
        <if test="set.changeAmount != null">
            `change_amount` = #{set.changeAmount},
        </if>
        <if test="set.changeAfterAmount != null">
            `change_after_amount` = #{set.changeAfterAmount},
        </if>
        <if test="set.remark != null and set.remark!=''">
            `remark` = #{set.remark},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.idList != null">
                    `id` in
                    <foreach collection="where.idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.idSt !=null">
                `id` >= #{where.idSt} and
            </if>
            <if test="where.idEd!=null">
                `id` &lt;= #{where.idEd} and
            </if>
                <if test="where.codeList != null">
                    `code` in
                    <foreach collection="where.codeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyCode!=null and where.fuzzyCode.size()>0">
                (
                <foreach collection="where.fuzzyCode"  separator="or" item="item">
                    `Code` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyCode!=null and where.rightFuzzyCode.size()>0">
                (
                <foreach collection="where.rightFuzzyCode"  separator="or" item="item">
                    `Code` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.createTimeList != null">
                    `create_time` in
                    <foreach collection="where.createTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyCreateTime!=null and where.fuzzyCreateTime.size()>0">
                (
                <foreach collection="where.fuzzyCreateTime"  separator="or" item="item">
                    `Create_time` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyCreateTime!=null and where.rightFuzzyCreateTime.size()>0">
                (
                <foreach collection="where.rightFuzzyCreateTime"  separator="or" item="item">
                    `Create_time` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.changeTypeList != null">
                    `change_type` in
                    <foreach collection="where.changeTypeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.changeTypeSt !=null">
                `change_type` >= #{where.changeTypeSt} and
            </if>
            <if test="where.changeTypeEd!=null">
                `change_type` &lt;= #{where.changeTypeEd} and
            </if>
                <if test="where.changeAmountList != null">
                    `change_amount` in
                    <foreach collection="where.changeAmountList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.changeAmountSt !=null">
                `change_amount` >= #{where.changeAmountSt} and
            </if>
            <if test="where.changeAmountEd!=null">
                `change_amount` &lt;= #{where.changeAmountEd} and
            </if>
                <if test="where.changeAfterAmountList != null">
                    `change_after_amount` in
                    <foreach collection="where.changeAfterAmountList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.changeAfterAmountSt !=null">
                `change_after_amount` >= #{where.changeAfterAmountSt} and
            </if>
            <if test="where.changeAfterAmountEd!=null">
                `change_after_amount` &lt;= #{where.changeAfterAmountEd} and
            </if>
                <if test="where.remarkList != null">
                    `remark` in
                    <foreach collection="where.remarkList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyRemark!=null and where.fuzzyRemark.size()>0">
                (
                <foreach collection="where.fuzzyRemark"  separator="or" item="item">
                    `Remark` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyRemark!=null and where.rightFuzzyRemark.size()>0">
                (
                <foreach collection="where.rightFuzzyRemark"  separator="or" item="item">
                    `Remark` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="com.zc.bean.ZcCommissionRecord" id="ZcCommissionRecordMap">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="createTime" column="create_time"/>
        <result property="changeType" column="change_type"/>
        <result property="changeAmount" column="change_amount"/>
        <result property="changeAfterAmount" column="change_after_amount"/>
        <result property="remark" column="remark"/>
    </resultMap>


    <select id="queryZcCommissionRecord" resultMap="ZcCommissionRecordMap">
        select
        <include refid="baseResult"></include>
        from  `zc_commission_record`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="code != null and code!=''">
                `code` = #{code} and
            </if>
            <if test="createTime != null and createTime!=''">
                `create_time` = #{createTime} and
            </if>
            <if test="changeType != null">
                `change_type` = #{changeType} and
            </if>
            <if test="changeAmount != null">
                `change_amount` = #{changeAmount} and
            </if>
            <if test="changeAfterAmount != null">
                `change_after_amount` = #{changeAfterAmount} and
            </if>
            <if test="remark != null and remark!=''">
                `remark` = #{remark} and
            </if>
            <if test = "(_parameter instanceof .ZcCommissionRecord$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="codeList != null">
                    `code` in
                    <foreach collection="codeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyCode!=null and fuzzyCode.size()>0">
                    (
                    <foreach collection="fuzzyCode"  separator="or" item="item">
                        `Code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyCode!=null and rightFuzzyCode.size()>0">
                    (
                    <foreach collection="rightFuzzyCode"  separator="or" item="item">
                        `Code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="createTimeList != null">
                    `create_time` in
                    <foreach collection="createTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyCreateTime!=null and fuzzyCreateTime.size()>0">
                    (
                    <foreach collection="fuzzyCreateTime"  separator="or" item="item">
                        `Create_time` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyCreateTime!=null and rightFuzzyCreateTime.size()>0">
                    (
                    <foreach collection="rightFuzzyCreateTime"  separator="or" item="item">
                        `Create_time` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="changeTypeList != null">
                    `change_type` in
                    <foreach collection="changeTypeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="changeTypeSt !=null">
                    `change_type` >= #{changeTypeSt} and
                </if>
                <if test="changeTypeEd!=null">
                    `change_type` &lt;= #{changeTypeEd} and
                </if>
                <if test="changeAmountList != null">
                    `change_amount` in
                    <foreach collection="changeAmountList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="changeAmountSt !=null">
                    `change_amount` >= #{changeAmountSt} and
                </if>
                <if test="changeAmountEd!=null">
                    `change_amount` &lt;= #{changeAmountEd} and
                </if>
                <if test="changeAfterAmountList != null">
                    `change_after_amount` in
                    <foreach collection="changeAfterAmountList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="changeAfterAmountSt !=null">
                    `change_after_amount` >= #{changeAfterAmountSt} and
                </if>
                <if test="changeAfterAmountEd!=null">
                    `change_after_amount` &lt;= #{changeAfterAmountEd} and
                </if>
                <if test="remarkList != null">
                    `remark` in
                    <foreach collection="remarkList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyRemark!=null and fuzzyRemark.size()>0">
                    (
                    <foreach collection="fuzzyRemark"  separator="or" item="item">
                        `Remark` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyRemark!=null and rightFuzzyRemark.size()>0">
                    (
                    <foreach collection="rightFuzzyRemark"  separator="or" item="item">
                        `Remark` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryZcCommissionRecordLimit1" resultMap="ZcCommissionRecordMap">
        select
        <include refid="baseResult"></include>
        from  `zc_commission_record`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="code != null and code!=''">
                `code` = #{code} and
            </if>
            <if test="createTime != null and createTime!=''">
                `create_time` = #{createTime} and
            </if>
            <if test="changeType != null">
                `change_type` = #{changeType} and
            </if>
            <if test="changeAmount != null">
                `change_amount` = #{changeAmount} and
            </if>
            <if test="changeAfterAmount != null">
                `change_after_amount` = #{changeAfterAmount} and
            </if>
            <if test="remark != null and remark!=''">
                `remark` = #{remark} and
            </if>
            <if test = "(_parameter instanceof .ZcCommissionRecord$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="codeList != null">
                        `code` in
                        <foreach collection="codeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyCode!=null and fuzzyCode.size()>0">
                    (
                    <foreach collection="fuzzyCode"  separator="or" item="item">
                        `Code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyCode!=null and rightFuzzyCode.size()>0">
                    (
                    <foreach collection="rightFuzzyCode"  separator="or" item="item">
                        `Code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="createTimeList != null">
                        `create_time` in
                        <foreach collection="createTimeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyCreateTime!=null and fuzzyCreateTime.size()>0">
                    (
                    <foreach collection="fuzzyCreateTime"  separator="or" item="item">
                        `Create_time` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyCreateTime!=null and rightFuzzyCreateTime.size()>0">
                    (
                    <foreach collection="rightFuzzyCreateTime"  separator="or" item="item">
                        `Create_time` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="changeTypeList != null">
                        `change_type` in
                        <foreach collection="changeTypeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="changeTypeSt !=null">
                    `change_type` >= #{changeTypeSt} and
                </if>
                <if test="changeTypeEd!=null">
                    `change_type` &lt;= #{changeTypeEd} and
                </if>
                    <if test="changeAmountList != null">
                        `change_amount` in
                        <foreach collection="changeAmountList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="changeAmountSt !=null">
                    `change_amount` >= #{changeAmountSt} and
                </if>
                <if test="changeAmountEd!=null">
                    `change_amount` &lt;= #{changeAmountEd} and
                </if>
                    <if test="changeAfterAmountList != null">
                        `change_after_amount` in
                        <foreach collection="changeAfterAmountList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="changeAfterAmountSt !=null">
                    `change_after_amount` >= #{changeAfterAmountSt} and
                </if>
                <if test="changeAfterAmountEd!=null">
                    `change_after_amount` &lt;= #{changeAfterAmountEd} and
                </if>
                    <if test="remarkList != null">
                        `remark` in
                        <foreach collection="remarkList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyRemark!=null and fuzzyRemark.size()>0">
                    (
                    <foreach collection="fuzzyRemark"  separator="or" item="item">
                        `Remark` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyRemark!=null and rightFuzzyRemark.size()>0">
                    (
                    <foreach collection="rightFuzzyRemark"  separator="or" item="item">
                        `Remark` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `code`,
        `create_time`,
        `change_type`,
        `change_amount`,
        `change_after_amount`,
        `remark`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof .ZcCommissionRecord$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.code==true">
                        `code`,
                    </if>
                    <if test="fetchFields.fetchFields.createTime==true">
                        `create_time`,
                    </if>
                    <if test="fetchFields.fetchFields.changeType==true">
                        `change_type`,
                    </if>
                    <if test="fetchFields.fetchFields.changeAmount==true">
                        `change_amount`,
                    </if>
                    <if test="fetchFields.fetchFields.changeAfterAmount==true">
                        `change_after_amount`,
                    </if>
                    <if test="fetchFields.fetchFields.remark==true">
                        `remark`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.code==null">
                        `code`,
                    </if>
                    <if test="fetchFields.excludeFields.createTime==null">
                        `create_time`,
                    </if>
                    <if test="fetchFields.excludeFields.changeType==null">
                        `change_type`,
                    </if>
                    <if test="fetchFields.excludeFields.changeAmount==null">
                        `change_amount`,
                    </if>
                    <if test="fetchFields.excludeFields.changeAfterAmount==null">
                        `change_after_amount`,
                    </if>
                    <if test="fetchFields.excludeFields.remark==null">
                        `remark`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof .ZcCommissionRecord$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>